/* Reset and Variables */
:root {
  line-height: 1.5;
  --header-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --text-font: Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Text Sizing, Spacing, and Fonts */
h1 {
  font-size: 2.5em;
  font-family: var(--header-font);
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
}

h2 {
  font-size: 2em;
  font-family: var(--header-font);
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
}

h3 {
  font-family: var(--header-font) ;
  font-size: 1.75em;
  line-height: calc(1ex / 0.38);
  margin: calc(1ex / 0.38) 0;
}

p {
  font-family: var(--text-font);
  font-size: 1em;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
  width: 60ch;
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: var(--text-font);
}

/* Dropdown Menu Styles */
.hidden {
  display: none;
}

/* Image Carousel Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 60dvw;
  border: 1px solid black;
}

/* The browser correctly supports hyphenation */
p[lang="en"] {
  text-align: justify;
  hyphens: auto;
}

/* The browser does NOT correctly support hyphenation */
p[lang="it"] {
  text-align: left;
  hyphens: none;
}

/* Optically render fonts to be the same size */
@supports (font-size-adjust: 1) {
  article {
      font-size-adjust: 0.5;
  }
}
